{% raw %}

<button class="btn btn-success" ng-click="getchartdata()">Get Chart</button>
<button class="btn btn-primary" ng-click="addannotations()">Add</button>
<button class="btn btn-primary" ng-click="removeannotations()">Remove</button>
<button class="btn btn-primary" ng-click="saveannotations()">Save</button>
<button class="btn btn-primary" ng-click="getannotations()">Get</button>
<button class="btn btn-primary" ng-click="getpeaks()">Get peaks</button>



<select data-ng-options="s for s in ['doublecross', 'rsi']" data-ng-model="backtester"></select>
<button class="btn btn-success" ng-click="backtest()">Backtest</button>
<i ng-show="loading_backtest" class="fa fa-refresh fa-spin">Backtesting....</i>

<input ng-model="amount"/>
<button class="btn btn-primary" ng-click="buyposition()">Buy</button>
{{currentprice*amount}}
<highchart ng-init="getchartdata()" id="chart1" config="chartConfig" class="span10"  style="height: 900px; min-width: 1200px"></highchart>

<div ng-show="backtesting.length > 0">

    <table class="table table-hoved table-striped">
		<thead>
			<tr>
				<th>
					Buy date
				</th>
				<th>
					Buy price
				</th>
				<th>
					Sell date
				</th>
				<th>
					Sell price
				</th>
				<th>
					Cash
				</th>
				<th>
					Profit
				</th>
				<th>
					Comment
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="trade in backtesting">
				<td>
					 {{trade.buy_date}}
				</td>
				<td>
					 {{trade.buy_price}}
				</td>
				<td>
					 {{trade.sell_date}}
				</td>
				<td>
					 {{trade.sell_price}}
				</td>
				<td>
					{{trade.cash}}
				</td>
				<td>
					{{trade.profit}}
				</td>
				<td>
					{{trade.comment}}
				</td>
			</tr>
		</tbody>

    </table>
</div>
<div>

    <ul>
        <li ng-repeat="a in annotations">
            {{a}}
        </li>
    </ul>
</div>
<div style="top: 315px; left: 1194px; display: block; position: absolute" id="highcharts-edit-annotation" ng-show="showing">
			<div ng-click="showing = false;">x</div>
			<div class="highchart-edit-annotation-row without-title">
					<span>Edit</span>
					<label for="highcharts-change-fill visible" class="label-colorPicker">Set fill color </label>
					<div style="background-color: rgb(231, 240, 249);" type="text" id="highcharts-change-fill" class="menu-btn colorPicker"></div>
			</div>
			<div class="highchart-edit-annotation-row without-title">
					<label for="highcharts-change-border visible label-colorPicker" class="label-colorPicker">Set border color </label>
					<div style="background-color: rgb(102, 136, 170);" type="text" id="highcharts-change-border" class="menu-btn colorPicker"></div>
			</div>
			<div style="display: none;" class="highchart-edit-annotation-row with-title">
					<span class="highcharts-title-edit-box">Edit text</span>
					<input id="highcharts-change-title" class="menu-btn" type="text">
			</div>
			<div class="highchart-edit-annotation-row">
					<a id="highcharts-remove-annotation">Remove</a>
					<button ng-click="showing = false;">OK</button>
			</div>
	</div>
{% endraw %}