<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/bootstrap.js"></script>
    <script src="../static/scripts/respond.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="http://blacklabel.github.io/annotations/js/annotations.js"></script>

    <script src="../static/scripts/chart.js"></script>

    <!--<script type="text/javascript">

    $(function (){
       alert("test");
    });

    </script>-->
</head>
<body>

</body>
</html>