<!DOCTYPE html>
<html lang="en" ng-app="app" >
<head>
	<base href="/">
	<meta charset="utf-8">
    <title> My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/angular.min.js"></script>
    <script src="/static/scripts/highstock.js"></script>
    <script src="/static/scripts/annotations.js"></script>
    <!---->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <script src="/static/scripts/highcharts-ng.js"></script>

    <script src="/static/scripts/controllers/maincontroller.js"></script>
    <script src="/static/scripts/controllers/chartcontroller.js"></script>
	<script src="/static/scripts/controllers/scancontroller.js"></script>
    <script src="/static/scripts/controllers/portfoliocontroller.js"></script>

    <script src="/static/scripts/app.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/scan">Scan</a></li>
                    <li><a href="/chart">Chart</a></li>
                    <li><a href="/portfolio">Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="container body-content">
        <div id="content" class="container main" ng-view>
            <hr />
            <footer>
                <p>&copy; {{ year }} - My Flask Application</p>
            </footer>
        </div>
	</div>
</body>
