{% extends "layout.html" %}

{% block content %}
<button class="btn btn-success" id="getall">Alle</button>
<div class="row">
    <div class="col-12">
        <h2>{{ title }}</h2>
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://blacklabel.github.io/annotations/js/annotations.js"></script>

<script type="text/javascript">

    $(function () {
        $.ajax({
            url: '/scanner/',
            //data: JSON.stringify({ 'id': '{{title}}' }),
            type: 'GET',
            beforeSend: function () {
                //$('#container').highcharts().showLoading();
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var ohlc = [];
                var volume = [];

                $.each(data.result, function (e, o) {
                    ohlc.push(
                        [Date.parse(o[0]), o[1], o[2], o[3], o[4]]

                    );

                    volume.push(
                        [Date.parse(o[0]), o[5]]
                    );
                });
                createchart(ohlc, volume);
                //$('#container').highcharts().hideLoading();
            }
        });

    // create the chart
    function createchart(ohlc, volume){

        $('#container').highcharts('StockChart', {
            rangeSelector : {
                selected : 1
            },
            title : {
                text : 'Stock Price'
            },
            events: {
                click: function (e) { console.log(this), this },

            },
             yAxis: [{
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'OHLC'
                },
                height: '60%',
                lineWidth: 2
            }, {
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Volume'
                },
                top: '65%',
                height: '35%',
                offset: 0,
                lineWidth: 2
            }],
            series : [{
                type : 'candlestick',
                name : 'Stock Price',
                data : ohlc,
                dataGrouping : {
                    units : [
                        [
                            'week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]
                    ]
                }
            }, {
                type: 'column',
                name: 'Volume',
                data: volume,
                yAxis: 1,
                dataGrouping: {
                    units: [
                        [
                            'week', // unit name
                            [1] // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]
                    ]
                }
            }]

        });

        var chart = $('#container').highcharts().annotations.allItems;
        console.log(chart);
    }


    $('#getall').click(function () {
        //createchart();
        //var a = $('#container').highcharts();//.showLoading();
        //console.log(a);
        var opt=
         {
                x: 100,
                y: 200,
                title: 'drag me <br> vertically',
                anchorX: "left",
                anchorY: "top",
                allowDragY: true,
                allowDragX: false
        };
        $('#container').highcharts().addAnnotation(opt);
        //chart.
        console.log(c);
    });
});

</script>

{% endblock %}